.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  background-image: url("/public/bg.jpg");
  background-position: 24%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
    .switchBtn {
      visibility: hidden;
    }

    .carousel {
      width: 100vw;
    } 
} 
@media (min-width: 480px) and (max-width: 768px) {

    .carousel {
      width: 100vw;
    } 
} 
@media (min-width: 768px) and (max-width: 990px) {

    .carousel {
      width: 60vw;
      margin-left: 50%;
    } 
} 

.carousel {
  margin-left: -5%;

}

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}

/* #userSettingsLayout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.settingsCard {
  height: max-content;
  margin-bottom: -20rem;
} */