.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  background-image: url("/public/bg.jpg");
  background-position: 24%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.carousel {
  margin-left: -5%;

}

@media (max-width: 480px) {
    .carousel {
      width: 100vw;
    } 
    .mapContainer {
      width: 80vw;
      height: 15vh;
      margin-left: 0px;
      border-radius: 6px;

    }
} 

@media (min-width: 480px) and (max-width: 768px) {
    .carousel {
      width: 100vw;
    } 
    .mapContainer {
      width: 80vw;
      height: 15vh;
      margin-left: 0px;
      border-radius: 6px;

    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .carousel {
      width: 60vw;
      margin-left: 2%;

    } 
    .mapContainer {
      width: 60vw;
      height: 15vh;
      margin-left: 0px;
      border-radius: 6px;

    }
} 

@media (max-width: 990px) {
  .switchBtn {
    visibility: hidden;
  }
}

@media (min-width: 990px) and (max-width: 1500px) {
  .mapContainer {
    align-self: center;
    width: 30vw;
    height: 35vh;
    border-radius: 6px;

  }
}

@media (min-width: 1500px) {
  .mapContainer {
    align-self: center;
    margin-left: -5%;
    width: 30vw;
    height: 29.5vh;
    border-radius: 6px;
   }
} 
@media (min-width: 1130px) and (max-height: 1600px) {
 .carousel {
  margin-left: 1px;
 }
} 

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
}



@media (max-width: 480px){
  .settings-box {
    flex-direction: column;
  }

}
@media (min-width: 480px) and (max-width: 1100px){
  .settings-box {
    flex-direction: column;
  }

}

.settings-cards {
  height: 25rem;
  width: 25rem;
}


